Repository saneef/color-color: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{md,json,css,html}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: "*.{js,mjs,cjs,svelte}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

fix(Icon): rename cross icon to x
  src/Icon.svelte
  src/Palette.svelte
  src/ShareDialog.svelte
Due: eslint

feat: clone a color palette
  src/Icon.svelte
  src/Palette.svelte
  src/Palettes.svelte
  src/lib/array.js
  src/store.js
Due: eslint

chore: remove unused husky files
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: prettier

ci(netlify): use pnpm
  netlify.toml
Due: none

fix(Icon): use aria-hidden
  src/Icon.svelte
  src/Palette.svelte
  src/ShareDialog.svelte
Due: eslint

fix(RangeField): tweaks hover color
  src/RangeField.svelte
Due: eslint

fix(CopyOnClick): remove logs
  src/CopyOnClick.svelte
Due: eslint

refactor: move all chroma-js calls into a single file
  package.json
  pnpm-lock.yaml
  src/Plots.svelte
  src/Swatch.svelte
  src/lib/colors.js
  src/store.js
Due: prettier, eslint

refactor: call lib/color function only in store
  src/Palettes.svelte
  src/Plots.svelte
  src/Swatch.svelte
  src/store.js
Due: eslint

fix(Swatch): increase overlay text contrast
  src/Swatch.svelte
Due: eslint

refactor(Swatch): access store only in parent component
  src/Palettes.svelte
  src/Swatch.svelte
  src/store.js
Due: eslint

replace hsluv.js, ok-color and chroma.js with color.js
  package.json
  pnpm-lock.yaml
  src/Palettes.svelte
  src/ReferenceColorFieldGroup.svelte
  src/lib/colors.js
  src/lib/ok-color.js
  src/store.js
Due: prettier, eslint

fix(webmanifest): adds name, theme_color, etc.
  vite.config.js
Due: eslint

refactor(color): use tree shakable colorjs API
  package.json
  pnpm-lock.yaml
  src/lib/colors.js
  src/lib/colors.test.js
  src/lib/colors.test.js.md
  src/lib/colors.test.js.snap
  src/store.js
Due: prettier, eslint

ci(netlify): use correct script name
  netlify.toml
Due: none

docs(readme): updates build commands
  README.md
Due: prettier

Add RGB codes as an option
  src/OverlayKnobs.svelte
  src/Palettes.svelte
  src/Swatch.svelte
  src/TinySwatch.svelte
  src/store.js
Due: eslint

chore(gitignore): ignores aliases script
  .gitignore
Due: none

fix(color): add missing types
  src/lib/colors.js
Due: eslint

test(color): fixes unit tests
  src/lib/colors.test.js
Due: eslint

fix: wrong contrast values for white
  src/store.js
Due: eslint

Use colorjs.io release instead of git
  package.json
  pnpm-lock.yaml
  src/lib/colors.test.js.md
  src/lib/colors.test.js.snap
Due: prettier

feat: mark active swatch
  src/CopyOnClick.svelte
  src/Palettes.svelte
  src/Swatch.svelte
Due: eslint

feat: show contrast value only if above minimum
  src/Swatch.svelte
  src/lib/contrast.js
Due: eslint

fix(Swatch): hex code alignment
  src/CopyOnClick.svelte
  src/Swatch.svelte
Due: eslint

fix: ref colors are not shown in target format
  src/store.js
Due: eslint

bumps colorjs.io to v0.6.0
  package.json
  pnpm-lock.yaml
Due: prettier

updates types
  jsconfig.json
  package.json
  pnpm-lock.yaml
  src/main.js
Due: prettier, eslint

chore: bumps sentry packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: bumps NPM packages
  package.json
  pnpm-lock.yaml
Due: prettier

chore: bumps more NPM packages
  package.json
  pnpm-lock.yaml
Due: prettier

fix: remove legacy JS code generation
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: prettier, eslint

bumps lefthook
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

bumps node to 24.12.0
  .node-version
Due: none

bumps svelte to v5
  package.json
  pnpm-lock.yaml
  src/Swatch.svelte
  src/main.js
  svelte.config.js
Due: prettier, eslint

migrate code svelte 5
  package.json
  src/Checkbox.svelte
  src/ColorSpaceSelector.svelte
  src/ColorsPlot.svelte
  src/ControlGroup.svelte
  src/ControlPoint.svelte
  src/CopyOnClick.svelte
  src/CubicBezierEditor.svelte
  src/DownloadAsSvg.svelte
  src/EaseControl.svelte
  src/EaseSelectOptions.svelte
  src/Icon.svelte
  src/OverlayKnobs.svelte
  src/Palette.svelte
  src/PaletteKnobs.svelte
  src/PaletteSelector.svelte
  src/Palettes.svelte
  src/Pitch.svelte
  src/Plots.svelte
  src/RadioGroup.svelte
  src/RangeField.svelte
  src/ReferenceColorFieldGroup.svelte
  src/Scrim.svelte
  src/SelectField.svelte
  src/ShareDialog.svelte
  src/SiteFooter.svelte
  src/SiteHeader.svelte
  src/StepsKnob.svelte
  src/Swatch.svelte
  src/TextField.svelte
  src/TinySwatch.svelte
  src/VhProvider.svelte
  src/XYInputField.svelte
Due: prettier, eslint

bumps eslint
  .eslintignore
  .eslintrc.cjs
  .gitignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/Checkbox.svelte
  src/ColorsPlot.svelte
  src/CubicBezierEditor.svelte
  src/PaletteSelector.svelte
  src/Palettes.svelte
  src/Pitch.svelte
  src/RadioGroup.svelte
  src/SiteFooter.svelte
  src/lib/colors.js
  src/lib/site-info.js
  src/lib/url.js
  vite.config.js
Due: prettier, eslint

feat(lib): adds isMinimumTextAAAContrast
  src/lib/contrast.js
Due: eslint

feat: shows contrast with a tiny swatch
  src/Swatch.svelte
  src/TinySwatch.svelte
Due: eslint

fix: makes active swatch marker bigger and align with other markers
  src/Swatch.svelte
  src/TinySwatch.svelte
Due: eslint
