Repository saneef/color-color: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{md,json,css,html}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: "*.{js,mjs,cjs,svelte}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

fix: add outline to marker over dark colors
  src/Swatch.svelte
Due: eslint

feat: show WCAG contrast with the selected color
  src/OverlayKnobs.svelte
  src/Palettes.svelte
  src/RadioGroup.svelte
  src/Swatch.svelte
  src/TinySwatch.svelte
  src/lib/contrast.js
  src/store.js
Due: eslint

fix: makes the swatch marker visually lighter
  src/Swatch.svelte
  src/SwatchMarker.svelte
Due: eslint

fix: reduces the size of ref colors on left panel
  src/ReferenceColorFieldGroup.svelte
Due: eslint

fix: reduces size of SwatchMarker and TinySwatch
  src/SwatchMarker.svelte
  src/TinySwatch.svelte
Due: eslint

fix: extra space when no overlay on swatch
  src/Swatch.svelte
  src/TinySwatch.svelte
Due: eslint

bumps npm pacakges
  package.json
  pnpm-lock.yaml
Due: prettier

fix: CubicBezierEditor don't work on touch devices
  src/ControlPoint.svelte
  src/CubicBezierEditor.svelte
  src/machines/draggableMachine.js
Due: eslint

replace plausible analytics with neatstats
  index.html
  netlify.toml
  vite.config.js
Due: prettier, eslint
